<a href="https://colab.research.google.com/github/cdedow/FWE458_2025/blob/main/Homework3_Dedow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#mounting drive
from google.colab import drive
drive.mount('/content/drive')

filedir = '/content/drive/MyDrive/FWE458/ColabNotebooks/'

Mounted at /content/drive

In [2]:
import pandas as pd #importing the pandas library

fname = filedir + "MaunaLoaCO2_monthly_sitename.csv" #preparing to load into data frame

df = pd.read_csv(fname) #loaded the file into a pandas data frame
df.head() #displayed the first 5 rows

,Year,Month,Decimal_date,Monthly_average,deseasonalized,numofdays,stdofdays,site
0,1958,3,1958.2027,315.70,314.43,-1,-9.99,MaunaLoa
1,1958,4,1958.2877,317.45,315.16,-1,-9.99,MaunaLoa
2,1958,5,1958.3699,317.51,314.71,-1,-9.99,MaunaLoa
3,1958,6,1958.4548,317.24,315.14,-1,-9.99,MaunaLoa
4,1958,7,1958.5370,315.86,315.18,-1,-9.99,MaunaLoa

In [3]:
#Filter the data: exclude years 1958 and 2022
df = df[(df["Year"] != 1958) & (df["Year"] != 2022)] #made a new data frame that kept all of the rows with all the years excpet 1958 and 2022 using the != "does not equal".
print(df.head()) #displayed the first 5 rows of this new data frame, showing that all of the years as 1958 was taken out
print(df.tail()) #displated the last 5 rows of this new data frame, showing that all of the years as 2022 was taken out

    Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
10  1959      1     1959.0411           315.58          315.55         -1
11  1959      2     1959.1260           316.48          315.86         -1
12  1959      3     1959.2027           316.65          315.38         -1
13  1959      4     1959.2877           317.72          315.41         -1
14  1959      5     1959.3699           318.29          315.49         -1

    stdofdays      site
10      -9.99  MaunaLoa
11      -9.99  MaunaLoa
12      -9.99  MaunaLoa
13      -9.99  MaunaLoa
14      -9.99  MaunaLoa
     Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
761  2021      8     2021.6250           414.47          416.49         26
762  2021      9     2021.7083           413.30          416.90         27
763  2021     10     2021.7917           413.93          417.30         29
764  2021     11     2021.8750           415.01          417.07         30
765  2021     12     2021.9583           416.71          417.44         28

     stdofdays      site
761       0.72  MaunaLoa
762       0.29  MaunaLoa
763       0.35  MaunaLoa
764       0.36  MaunaLoa
765       0.48  MaunaLoa

In [4]:
#Filter the data: remove specific rows with invalid data
df = df[(df["numofdays"] > 0) & (df["stdofdays"] > 0)] #created a new data frame that kept rows that only had positive values in the number of days and standard deviation of days
df.head() #displated the new data frame showing that they are only positive

,Year,Month,Decimal_date,Monthly_average,deseasonalized,numofdays,stdofdays,site
194,1974,5,1974.3750,333.19,330.22,13,0.31,MaunaLoa
195,1974,6,1974.4583,332.20,329.78,25,0.37,MaunaLoa
196,1974,7,1974.5417,331.07,330.21,24,0.24,MaunaLoa
197,1974,8,1974.6250,329.15,330.54,26,0.31,MaunaLoa
198,1974,9,1974.7083,327.33,330.44,22,0.47,MaunaLoa

In [5]:
#Compute annual statistcs: annual average co2 concentration
annual_average = df.groupby("Year")["Monthly_average"].mean() #created a new variable that stores a series that groups the previous data frame into each year and then finds the mean of the monthly average column
annual_average #displaying the variable

Year
1974    329.763750
1975    331.160909
1976    332.026667
1977    333.843333
1978    335.415000
1979    336.835833
1980    338.762500
1981    340.119167
1982    341.479167
1983    343.152500
1984    344.639091
1985    346.351667
1986    347.608333
1987    349.312500
1988    351.690833
1989    353.205000
1990    354.453333
1991    355.704167
1992    356.544167
1993    357.215833
1994    358.959167
1995    360.968333
1996    362.743333
1997    363.877500
1998    366.840000
1999    368.540000
2000    369.706667
2001    371.319167
2002    373.452500
2003    375.983333
2004    377.698333
2005    379.983333
2006    382.090833
2007    384.025000
2008    385.830833
2009    387.643333
2010    390.101667
2011    391.850833
2012    394.055833
2013    396.737500
2014    398.870833
2015    401.012500
2016    404.412500
2017    406.757500
2018    408.715000
2019    411.654167
2020    414.238333
2021    416.450833
Name: Monthly_average, dtype: float64

In [6]:
#Compute annual statistcs: annual average deseasonalized co2 concentration
deseasonalized_annual_average = df.groupby("Year")["deseasonalized"].mean() #created a new variable that stores a series that groups the data frame into each year and then finds the mean of the deseasonalized column
deseasonalized_annual_average #displaying the variable

Year
1974    330.346250
1975    331.072727
1976    332.028333
1977    333.841667
1978    335.413333
1979    336.835833
1980    338.765000
1981    340.120000
1982    341.476667
1983    343.152500
1984    344.874545
1985    346.350833
1986    347.608333
1987    349.313333
1988    351.690833
1989    353.205000
1990    354.451667
1991    355.703333
1992    356.545833
1993    357.214167
1994    358.960000
1995    360.966667
1996    362.743333
1997    363.876667
1998    366.839167
1999    368.540833
2000    369.707500
2001    371.318333
2002    373.452500
2003    375.983333
2004    377.697500
2005    379.982500
2006    382.089167
2007    384.024167
2008    385.830000
2009    387.643333
2010    390.101667
2011    391.850833
2012    394.055833
2013    396.738333
2014    398.870000
2015    401.012500
2016    404.414167
2017    406.757500
2018    408.715000
2019    411.655833
2020    414.235833
2021    416.450000
Name: deseasonalized, dtype: float64

In [7]:
#Compute annual statistcs: annual average deseasonalized co2 concentration
std_of_months = df.groupby("Year")["Monthly_average"].std() #created a new variable that stores a series that groups the data frame into each year and then finds the standard deviation of the monthly average column
std_of_months #displaying the variable

Year
1974    2.203789
1975    1.943751
1976    2.085610
1977    1.931882
1978    1.995014
1979    1.837639
1980    1.871271
1981    2.105989
1982    2.151386
1983    1.936093
1984    1.963520
1985    1.996983
1986    1.834358
1987    1.800430
1988    1.780860
1989    1.978569
1990    1.892379
1991    2.343313
1992    2.304432
1993    2.033597
1994    1.916656
1995    1.953672
1996    1.960669
1997    2.008578
1998    1.790520
1999    2.080350
2000    1.695434
2001    1.893772
2002    1.735407
2003    1.840836
2004    2.110062
2005    1.987915
2006    2.027064
2007    1.958587
2008    1.745209
2009    1.876643
2010    2.027290
2011    1.737958
2012    1.823775
2013    1.956231
2014    2.062093
2015    1.967907
2016    2.208719
2017    2.030943
2018    1.787718
2019    1.940963
2020    1.880947
2021    2.025027
Name: Monthly_average, dtype: float64

In [9]:
#define custom function
def categorize_co2(value): #define and give the function a name and input space
  if value < 350: #if statement checks if input is less than 350
    return "Low" #it will return low
  elif value < 400: #else if statement checks if input is less than 400
    return "Medium" #it will return medium
  else: #anything else (greater than 400)
    return "High" #it will return high

In [10]:
#apply the custom function to make a new column
df["CO2_category"] = df["Monthly_average"].apply(categorize_co2) #edits the data frame, adding a new column that applies the new function to the monthly average column and puts out the return in that column
df.head() #displays part of the data frame

,Year,Month,Decimal_date,Monthly_average,deseasonalized,numofdays,stdofdays,site,CO2_category
194,1974,5,1974.3750,333.19,330.22,13,0.31,MaunaLoa,Low
195,1974,6,1974.4583,332.20,329.78,25,0.37,MaunaLoa,Low
196,1974,7,1974.5417,331.07,330.21,24,0.24,MaunaLoa,Low
197,1974,8,1974.6250,329.15,330.54,26,0.31,MaunaLoa,Low
198,1974,9,1974.7083,327.33,330.44,22,0.47,MaunaLoa,Low

In [12]:
df.to_csv("Dedow_MaunaLoaCO2_annual_Hw3.csv", index = False) #converted data frame to csv

from google.colab import files #imported files function
files.download("Dedow_MaunaLoaCO2_annual_Hw3.csv") #downloads the csv